:root {
    --green: #1abc9c;
       
}

ul {
    list-style-type: none;
    padding: 0;
}

.bg_green {
    background-color: var(--green);
    color: white;
}

section {
    padding: 1.5rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

img {
    width: 100%;
    height: auto;
}

/********************* HEADER **********************/
header {
    background-color: #2c3e50;
    height: 80px;
    line-height: 80px;
    color: white;
    font-weight: 700;
}

header li {
    display: inline-block;
    padding: 0 10px;
}

header i {
    font-size: 20px;
}

header h3 {
    font-size: 1.2rem;
    line-height: 80px;
}

.ms_avatar_box {
    /* test */
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ms_large_container {
    width: 70%;
    margin: 0 auto;
}

/********************* MAIN ************************/

.ms_large_container li {
    border-bottom: 1px solid grey;
}

.ms_large_container li:last-child {
    height: 150px;
}

.star {
    font-size: 25px;
    margin-bottom: 20px;
}

.star::before, .star::after {
    display: inline-block;
    content: '';
    width: 100px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.bg_green .star::before, .bg_green .star::after {
    background-color: white;
}

.ms_box_card > img {
    border-radius: 15px;
}

.form-floating > label {
    color: #6c757d;
}

.form-control {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.form-control:focus {
    box-shadow: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #d0d5db;
}

form > .btn {
    border-color: var(--green);
    background-color: var(--green)
}

/********************* FOOTER **********************/

footer {
    color: white;
}

footer > section:first-child {
    background-color: #3a546d;
}

footer > section:last-child {
    background-color: #2c3e50;
}

.ms_icon_box span {
    display: inline-block;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 40px;
    margin: 3.8px;
}

 #brand-link {
    color: aqua;
}